@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');


.Footer_cont{
    display: flex;
    gap: 590px;
    margin-left: 121px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    position: relative;
    top: 90px;
}